<style type="text/css">
<!--
.posttitle { font-size: 120%; margin: 5px; line-height: 200%}
.poster{ margin-left: 20px; }
.postdate{ margin-left: 20px; }
.postmessage { margin: 10px; }
.res_link{ margin-left: 20px; }
.edit_link{ margin-left: 20px; }
.del_link{ }
.res{ margin-left: 50px; border 100px dotted gray; }
.article { border: 1px solid #CCCCCC; padding: 10px; margin: 5px; }
.article_res{ border-top: 1px solid #CCCCCC; padding: 10px; }

-->
</style>

<br>
<div class="title"><{$bbs_name}></div>
<br>
<!-- ====================================================================== -->
<{ foreach item=parent from=$messages }> 
<!-- PARENTS -->
<div class="article">
<a name="<{$parent.post_id}>"></a>
<span class=posttitle><{$parent.title}></span><br>
<span class=poster><{$smarty.const._MD_MYBBS_POSTER}> :
  <{if $parent.users_uid }>
  <a href="../../userinfo.php?uid=<{$parent.uid}>"><{$parent.uname}></a>
  <{else}>
  <{$parent.uname}>
  <{/if}>
</span>
<span class=postdate>
  <{$smarty.const._MD_MYBBS_POSTDATE}> :<{$parent.post_time}>
</span>
<div class="postmessage">
<table border=0>
  <tr>
   <td width=40 valign="top"><img src="../../uploads/<{$parent.user_avatar}>" class="avatara"></td>
   <td valign="top"><{$parent.message}></td>
  </tr>
</table>
</div>
<!-- // PARENTS -->


<!-- CHILDS -->
<{ if sizeof($parent.res) > 0 }>
<div class="res">
<{ foreach item=res from=$parent.res }>
<div class="article_res">
<a name="<{$res.post_id}>"></a>
<span class="posttitle"><{$res.title}></span><br>
<span class="poster"> <{$smarty.const._MD_MYBBS_POSTER}>:
  <{if $parent.users_uid }>
  <a href="../../userinfo.php?uid=<{$res.uid}>"><{$res.uname}></a>
  <{else}>
  <{$res.uname}>
  <{/if}>
</span>
<span class="postdate"><{$smarty.const._MD_MYBBS_POSTDATE}> :<{$res.post_time}></span>
<div class="postmessage">
<table border=0>
  <tr>
	<td width=40 valign=top><img src="../../uploads/<{$res.user_avatar}>"> </td>
	<td valign=top><{$res.message}></td>
  </tr>
</table>
</div>
</div>
<{/foreach}>
</div>
<{/if}> 
<!-- //CHILDS -->
</div>
<{/foreach}>
<!-- ====================================================================== -->
<blockquote><{$lang_res_message}></blockquote>
<blockquote>
<{include file="db:mybbs_form.html"}>
</blockquote>
<br>


<a href="javascript:history.back();"><{$smarty.const._MD_MYBBS_GO_BACK}></a>

